[0]LDPR 

	[0] Vladimir Zhirinovsky
	age: 75
	income: 5000000
	voices: 23017
	districk id: 0
[1]KPRF 

	[0] Genadiy Zyganov
	age: 77
	income: 3000000
	voices: 15098
	districk id: 0
Количество элементов в коллекции: 2
Выполнение завершено успешно
